<nav style="background-color: rgba(24, 24, 24, 0.904); color: white;" class="uk-navbar-container uk-margin" uk-navbar>
    <div class="nav-overlay uk-navbar-left">
        <a style="color: rgb(214, 214, 214);" class="uk-navbar-item uk-logo" href="{% url 'product:list' %}">SIM</a>
        
    </div>
    <div class="nav-overlay uk-navbar-right">
        <ul class="uk-navbar-nav nav-overlay uk-visible@s">
            <li >
                <a href="#">Actions</a>
                <div class="uk-navbar-dropdown ">
                    <ul class="uk-nav uk-navbar-dropdown-nav ">
                        
                        <li><a href="#" uk-toggle="target: #productAddModal">Add New Product</a></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#">Logs</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        
                        <li><a href="#">Withdrawals</a></li>
                        <li><a href="#">Entries Log</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <a class="uk-navbar-toggle" uk-search-icon uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
    </div>
    
    <a href="#" class="uk-navbar-toggle uk-hidden@s" uk-navbar-toggle-icon uk-toggle="target: #sidenav"></a>
   

    
    {% block search %}
        {% include 'includes/_search.html' %}
    {% endblock search %}
        
   
</nav>

<div id="sidenav" uk-offcanvas="flip: true" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <div>
            <div class="uk-width-1-1">
              <ul class="uk-nav-parent-icon uk-nav-primary" uk-nav>
                <li class="uk-parent uk-active">
                  <a href="#">Actions</a>
                  <ul class="uk-nav-sub">
                    <li><a href="#" uk-toggle="target: #productAddModal">Add New Product</a></li>
                    <li><a href="#">Item</a></li>
                   
                  </ul>
                </li>
              </ul>
              <ul class="uk-nav-parent-icon uk-nav-primary" uk-nav>
                <li class="uk-parent uk-active">
                  <a href="#">Logs</a>
                  <ul class="uk-nav-sub">
                    <li><a href="#">Withdrawals</a></li>
                    <li><a href="#">Entries</a></li>
                
                  </ul>
                </li>
              </ul>
            </div>
          </div>
    </div>
</div>