<div id="productDeleteModal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title"></h2>
        <form method="post" enctype="multipart/form-data" action=" {% url 'product:delete' product.id%} " >
            {% csrf_token %}
            <h2 class="uk-modal-title">Headline</h2>
            <p>Do you really want to delete {{product}}</p>
            <p>If you are sure click on delete</p>
            <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                <button class="uk-button uk-button-danger" type="submit">Delete</button>
            </p>
        </form>
        
    </div>
</div>